* {
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* header section starts */
header {
  background: rgba(255, 144, 14, 0.1);
  /* padding: 50px 240px; */
}
/* nav section start */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0px 0px;
}
nav h3 {
  color: #131313;

  font-size: 3.5rem;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin-right: 3.5rem;
}
nav ul li a {
  text-decoration: none;
  color: #424242;
  font-size: 1.6rem;
}
/* nav section ends */

/* banner sec start */
.banner-text {
  text-align: center;
  padding: 100px 0px 0px 0px;
}
.banner-text h1 {
  color: #131313;
  font-size: 5.4rem;
  font-weight: 700;
}
.banner-text p {
  color: #727272;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 1.5rem;
}
.banner-text button {
  border-radius: 0.8rem;
  background: #ff900e;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  padding: 1.2rem 2rem;
  margin-top: 1.5rem;
}
.banner-pic img {
  /* width: 101rem; */
  width: 100%;
  height: auto;
  padding: 5rem 15rem;
}
/* banner sec end */

/* header section ends */

/* main section start */
/* main section end */

/* footer section start */
/* footer section ends */

/* responsive section start */

/* mobile responsive start */
@media screen and (max-width: 576px) {
  nav ul {
    display: none;
  }
  .banner-pic img {
    padding: 5rem 1rem;
  }
  .banner-text {
    padding: 5rem 2rem;
  }
}
/* mobile responsive end */

/* tablet responsive start */

@media screen and (min-width: 576px) and (max-width: 960px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    margin-top: 25px;
  }
  .banner-pic img {
    padding: 5rem 1rem;
  }
  .banner-text {
    padding: 5rem 2rem;
  }
} /* tablet responsive end */
/* responsive section end */
